@import "../../../assets/global.scss";

.forecast-container {
  width: 100%;
  margin-top: 24px;
  padding: 0px 10px;
}
.forecast-title {
  font-size: var(--font-size-subtitle);
}
.forecast-title-text {
  font-weight: 500;
  text-transform: uppercase;
}
.forecast-line-break {
  margin: 8px 0px;
}
.forecast-timestamp-container {
  display: block;
  width: 80px;
  max-height: 500px;
  padding: 5px;
  transform:  rotate(90deg);
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: right top;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-start;
  // align-items: stretch;
  // gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.forecast-timestamp-item {
  width: 100px;
  height: 100px;
  display: block;
  padding: 5px;
  transform: rotate(90deg);
  transform-origin: right top;
  // width: 110px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  // gap: 5px;
}
.forecast-timestamp-item-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.forecast-timestamp-item-image {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.forecast-timestamp-item-temperature {
  font-weight: 500;
}
.forecast-timestamp-item-description{
  width: min-content;
  text-align: center;
}
