@import "../../../assets/global.scss";

.inputs-container {
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-container {
  width: 75%;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar {
  padding: 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  width: 100%;
  text-transform: capitalize;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  &::placeholder {
    text-transform: lowercase;
  }
  &:focus {
    outline: none;
  }
}
.search-icon {
  color: var(--color-black);
  cursor: pointer;
  width: 60px;
  transition: ease-out;
  &:hover {
    scale: 1.2;
  }
}
#first-icon {
  margin-left: 15px;
}

.unit-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.unit-option {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  background: transparent;
  border: 1px solid transparent;
  color: var(--color-black);
  transition: ease-out;
  &:hover {
    scale: 1.25;
  }
}
.dividing-bar {
  margin: 0px 4px;
  font-size: 20px;
  line-height: 28px;
}
