@import "../../../assets/global.scss";

.inputs-container {
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.search-bar {
  margin-bottom: 15px;
}
.search-bar-input {
  padding: 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  width: 100%;
  text-transform: capitalize;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  &::placeholder {
    text-transform: lowercase;
  }
  &:focus {
    outline: none;
  }
}
.search-buttons-container {
  display: block;
  width: 100px;
}
.search-icon {
  color: var(--color-black);
  cursor: pointer;
  width: 50%;
  transition: ease-out;
  &:hover {
    scale: 1.2;
  }
}
// #first-icon {
//   // margin-left: 15px;
// }

.unit-buttons-container {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.unit-option {
  font-size: var(--font-size-input-unit);
  line-height: 28px;
  font-weight: 500;
  background: transparent;
  color: var(--color-black);
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    scale: 1.25;
  }
}
.dividing-bar {
  margin: 0px 10px;
  font-size: var(--font-size-input-unit);
  line-height: 28px;
}
