@import "../../../assets/global.scss";

.temp-detail-container {
  width: 100%;
}
.detail {
  padding: 24px 0px;
  font-size: var(--font-size-subtitle);
  line-height: 28px;
  text-align: center;
}
.temp-container {
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.temp-icon-principal {
  width: var(--icon-size-principal);
  height: var(--icon-size-principal);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.temp-temperature {
  font-size: var(--font-size-temperature-principal);
  line-height: 1;
}
.temp-bonus-container {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temp-bonus-item {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin: 5px 0px;
  p {
    margin-left: 10px;
  }
}
.temp-bonus-image {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.temp-bonus-paragraph {
  font-size: var(--font-size-details);
}
.temp-bonus-item-span {
  margin-left: 4px;
  font-weight: 500;
}
.edges-container {
  display: flex;
  margin: 15px 0px;
  margin-top: 25px 0px;
  font-size: 14px;
  line-height: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:15px;
}
.edge-item {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  gap: 5px;
}
.edge-item-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: 300;
  font-size: var(--font-size-details);
  text-align: center;
}
.edge-value {
  margin-left: 4px;
  font-weight: 500;
}

@media screen and (min-width: 450px){
  .edges-container{
    flex-wrap: nowrap;
  }
}